.App {
  text-align: center;
}

.search-input{
  width: 700px;
  height: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.countryCard{
  margin-left: 20px;
  width: 220px;
  height: 180px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.image{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

